*.swp

# Oops, third party tools dump stuff into your personal bin directory
files/bin/bundle
files/bin/bundler
files/bin/coderay
files/bin/pry
files/bin/rubocop
files/bin/ruby-parse
files/bin/ruby-rewrite
files/bin/httparty
files/bin/rackup
files/bin/resque
files/bin/resque-web
files/bin/sidekiq
files/bin/sidekiqmon
files/bin/tilt
ReactDashboard/node_modules/
flaskdashboard/.venv/
