[0m[32m                               [0m
[0m[32m                 -/+:.         [0m[1;34m byohe[0m[1m@[0m[0m[1;34mValcoms-MacBook-Pro[0m
[0m[32m                :++++.         [0m[1;34m OS:[0m 64bit Mac OS X 10.13.6 17G65[0m
[0m[32m               /+++/.          [0m[1;34m Kernel:[0m x86_64 Darwin 17.7.0[0m
[0m[32m       .:-::- .+/:-``.::-      [0m[1;34m Uptime:[0m 26d 6h 1m[0m
[0m[32m    .:/++++++/::::/++++++/:`   [0m[1;34m Packages:[0m 139[0m
[0m[33m  .:///////////////////////:`  [0m[1;34m Shell:[0m zsh 5.4.2[0m
[0m[33m  ////////////////////////`    [0m[1;34m Resolution:[0m 2880x1800[0m
[0m[1;31m -+++++++++++++++++++++++`     [0m[1;34m DE:[0m Aqua[0m
[0m[1;31m /++++++++++++++++++++++/      [0m[1;34m WM:[0m Quartz Compositor[0m
[0m[31m /sssssssssssssssssssssss.     [0m[1;34m WM Theme:[0m Blue[0m
[0m[31m :ssssssssssssssssssssssss-    [0m[1;34m Font:[0m Monaco 18[0m
[0m[35m  osssssssssssssssssssssssso/` [0m[1;34m CPU:[0m Intel Core i7-6700HQ @ 2.60GHz[0m
[0m[35m  `syyyyyyyyyyyyyyyyyyyyyyyy+` [0m[1;34m GPU:[0m Intel HD Graphics 530 / AMD Radeon Pro 450 [0m
[0m[34m   `ossssssssssssssssssssss/   [0m[1;34m RAM:[0m 11599MiB / 16384MiB[0m
[0m[34m     :ooooooooooooooooooo+.    [0m
[0m[34m      `:+oo+/:-..-:/+o+/-      [0m
[0m[34m                               [0m
